@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Minha Página</title>
   
</head>
<div class="text-center">
    <h1>Alugue seu jogo</h1>
    <p>Cansado dos preços abusivos? pegue emprestado um jogo e decida se vale a pena pagar um preço cheio nele >.O</p>
    <div>
        <img src="/img/Controle logo.png"
    </div>
</div>
